
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
}

body { font-family: 'Ubuntu'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code {
  font-size: 12px;
}

.content {
  background-size: cover;

}

.next {
  animation-fill-mode: both;
  animation-duration: 160ms;
  animation-name: fadeIn;
}

.next_slow {
  animation-fill-mode: both;
  animation-duration: 320ms;
  animation-name: fadeIn;
}

.whiteFont {
  color: white;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7) 
}

.blackFont {
  color: black;
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.7) 
}

.speech {
  display: block;
	position: relative;
  float: left;
	background: #FFFFFF;
	border: 1px solid #666;
  max-width:250px;
  padding:10px;
  font-family:arial;
  margin:0 auto;
  margin-left: 5%;
  font-size:14px;
  border-radius:6px;
}
.speech:after,
.speech:before {
	right: 100%;
	bottom: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.speech:after {
	border-color: rgba(255, 255, 204, 0);
	border-right-color: #FFFFFF;
	border-width: 16px;
	margin-top: -15px;
  margin-right: -1px;
}
.speech:before {
	border-color: rgba(255, 204, 0, 0);
	border-right-color: #666;
	border-width: 16px;
	margin-top: -16px;
}

.speech_own {
  display: block;
  float: right;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #666;
  max-width:250px;
  padding:10px;
  font-family:arial;
  margin:0 auto;
  margin-right: 5%;
  font-size:14px;
  border-radius:6px;
}
.speech_own:after,
.speech_own:before {
	left: 100%;
	bottom: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.speech_own:after {
	border-color: rgba(255, 255, 204, 0);
	border-left-color: #FFFFFF;
	border-width: 16px;
	margin-top: -15px;
  margin-left: -1px;
}
.speech_own:before {
	border-color: rgba(255, 204, 0, 0);
	border-left-color: #666;
	border-width: 16px;
	margin-top: -16px;
}

hr {
  backgrounnd-color: transparent;
  border-color: transparent;
  width: 100%;
  height: 5px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.margin_sm {
  margin-left: 10%;
  margin-right: 10%;
}

.padding_left_sm {
  padding-left: 10px;
}

.margin_bottom_lg {
  margin-bottom: 50px;
}

.appbg {
  background-image: url('../images/app.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 250px;
  height: 250px;
  position: absolute;
  margin-left: -20px;
  margin-top: -30px;
  z-index: 1;
}

.processbg {
  background-image: url(../images/process.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 70%;

  width: 150px;
  height: 150px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 17px;
  margin-left: 15px;
  margin-top: 12px;
  margin-right: 15px;
  margin-bottom: 0px;
  background-color: #FFF;
}

.grey {
  color: #222;
}

.center_box {
  text-align: center;
}

.center_box_content {
  display: inline-block;
}

.big_box {
  width: 85%;
  max-width: none !important;
  height: 579px;
  padding: 20px !important;
  border-radius: 25px !important;
}

.box_white {
	background: #FFFFFF;
	border: 1px solid #666;
  max-width:250px;
  padding:10px;
  border-radius:6px;
}

.entity_box {
  padding: 5px 0px;
  border-radius:6px;
  display: block;
  width: 100%;
  overflow: hidden;
}

.box_orange {
	border: 1px solid #666;
  background-color: rgb(255, 224, 178);
  border-top-width: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.box_blue {
  z-index: 1;
	border: 1px solid #666;
  background-color: rgb(187, 222, 251);
  border-bottom-color: #666;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 30px;
}

.entity {
  font-size: 12px;
	background: rgba(255, 255, 255, 0.75);
	border: 1px solid #666;
  padding: 5px 4px;
  border-radius: 6px;
  margin: 3px 3px;
  display: inline-block;
  position: relative;
}

.entity_title {
  padding-left: 5px;
  margin-right: -5px;
  font-size: 13px;
  margin-bottom: 6px;
}

.code_block {
	background: rgba(255, 255, 255, 0.75);
	border: 1px solid #666;
  border-radius: 6px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
}

.code_block pre {
  margin: 0px;
}

.glow {
  border-color: rgb(142, 36, 170);
  box-shadow: 0px 0px 10px rgb(142, 36, 170);
}

.pe_chain {
  position: relative;
  transform: rotate(135deg);
  left: 19px;
  width: 90px;
}

.pe_chain_big {
  position: absolute;
  transform: rotate(135deg);
  width: 180px;
  top: 20%;
}

.left_half {
  float: left;
  width: 50%;
}

.right_half {
  float: right;
  width: 50%;
}

.invisible {
  visibility: hidden;
}

.margin_bottom_sm * {
  margin-bottom: 10px !important;
}

.overhead_part {
  display: inline-block;
  margin-right: 3%;
  width: 31%;
}

.overhead_part:nth-child(4) {
  margin-right: 0;
}